@model IEnumerable<Brand>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Brands
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
        @foreach (var category in Model)
        {
            <li><a asp-action="GetById" asp-controller="Product" asp-route-id="@category.Id" class="dropdown-item">@category.Name</a></li>
        }
    </ul>
</li>